.wrapper {
  width: 250px;

  img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100%;
    border-radius: 15px;
    background-color: grey;
  }

  .title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .price-label {
    font-weight: 300;
    font-size: 1rem;
  }

  .price {
    font-weight: 500;
    font-size: 1rem;
  }
}
